<div class="row my-3">
    <div class="col-md-12">
        <h5 class="mb-0">App Sec Testing</h5>
    </div>
</div>

<div class="row my-3 custom-gutters">
    <div class="col-md-10">
        <div class="epts">
            <div class="input-group">
                <input type="text" class="form-control"
                    placeholder="Search specific data like hostname, operating system, ip address, admin user, softwares, etc."
                    aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="searchCriteria">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2" style="padding: 0 8px;
                    border-color: #ced4da;">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" style="vertical-align: middle;">
                            search</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="epts">
            <button mat-stroked-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                matTooltip="Download" class="btn btn-dark btn-action">
                <mat-icon style="margin-top: -1px;">cloud_download</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="download('PDF')">
                    <mat-icon class="pdf-icon">picture_as_pdf</mat-icon>
                    <span>PDF</span>
                </button>
                <button mat-menu-item (click)="download('Excel')">
                    <mat-icon class="excel-icon">table_chart</mat-icon>
                    <span>Excel</span>
                </button>
                <button mat-menu-item (click)="download('HTML')">
                    <mat-icon class="html-icon">code</mat-icon>
                    <span>HTML</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <div class="col-md-1">
        <div class="epts">
            <button mat-stroked-button [matMenuTriggerFor]="menuShare" aria-label="Example icon-button with a menu"
                matTooltip="Share" class="btn btn-dark btn-action">
                <mat-icon style="margin-top: -1px;">share</mat-icon>
            </button>
            <mat-menu #menuShare="matMenu">
                <button mat-menu-item (click)="openEmailDialog()">
                    <mat-icon class="pdf-icon" style="margin-top: -1px;">mail_outline</mat-icon>
                    <span>Email</span>
                </button>
            </mat-menu>
        </div>
    </div>
</div>

<div class="row custom-gutters my-3 table-grid">
    <div class="col-md-12">
        <mat-card class="pb-0">
            <mat-card-content>
                <table class="table table-hover table-bordered mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" style="width: 6%;">Sr. No.</th>
                            <th scope="col">Application</th>
                            <th scope="col">Vulnerability</th>
                            <th scope="col">Severity</th>
                            <th scope="col">Severity1</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of getAppSecuritySearch(); let i= index">
                            <th scope="row">{{ (pageEvent.pageIndex * pageEvent.pageSize) + i + 1}}</th>
                            <td>{{item.application}}</td>
                            <td>{{item.vulnerability}}</td>
                            <td>{{item.severity}}</td>
                            <td>{{item.severity1}}</td>
                            <td>{{item.status}}</td>
                        </tr>
                    </tbody>
                </table>
                <mat-paginator [length]="length" [pageSize]="pageEvent.pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="pageChanged($event)">
                </mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<table class="table table-hover table-bordered mb-0" style="display: none;" id="excel-table">
    <thead class="thead-light">
        <tr>
            <th scope="col" style="width: 13%;">Sr. No.</th>           
            <th scope="col">Application</th>
            <th scope="col">Vulnerability</th>
            <th scope="col">Severity</th>
            <th scope="col">Severity1</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of getAppSecurityPrint(); let i= index">
            <th scope="row"> {{ i + 1}}</th>                            
            <td>{{item.application}}</td>
            <td>{{item.vulnerability}}</td>
            <td>{{item.severity}}</td>
            <td>{{item.severity1}}</td>
            <td>{{item.status}}</td>
        </tr>
    </tbody>
</table>