<div class="row my-3">
    <div class="col-md-12">
        <h5 class="mb-0">User Access</h5>
    </div>
</div>

<div class="row my-3">
    <div class="col-md-12">
        <div class="epts">
            <div class="input-group">
                <input type="text" class="form-control"
                    placeholder="Search specific data like hostname, operating system, ip address, admin user, softwares, etc."
                    aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="searchCriteria">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2" style="padding: 0 8px;
                    border-color: #ced4da;">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" style="vertical-align: middle;">
                            search</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row custom-gutters my-3 table-grid">
    <div class="col-md-12">
        <mat-card class="pb-0">
            <mat-card-content>
                <table class="table table-hover table-bordered mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" style="width: 6%;">Sr. No.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Contact No</th>
                            <th scope="col" style="width: 10%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of getUserSearch(); let i= index">
                            <th scope="row">{{(pageEvent.pageIndex * pageEvent.pageSize) + i + 1}}</th>
                            <td>{{item.name}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.contactNo}}</td>
                            <td style="width: 10%; text-align: center; padding: 8px;">
                                <button mat-button style="padding: 0; min-width: 32px; height: 32px; line-height: 32px;" class="mr-2">
                                    <mat-icon class="icon-action" (click)="openDialog()">create</mat-icon>
                                </button>
                                <button mat-button color="warn" style="padding: 0; min-width: 32px; height: 32px; line-height: 32px;">
                                    <mat-icon class="icon-action">clear</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <mat-paginator [length]="length" [pageSize]="pageEvent.pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="pageChanged($event)">
                </mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
</div>