<div class="row my-3">
    <div class="col-md-12">
        <h5 class="mb-0">Dashboard</h5>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12">
        <div class="ep" style="background: #f1f3fa; padding: 12px 15px 1px; border-radius: 4px;">
            <div class="row mb-1">
                <div class="col-md-6">
                    <h6 class="mt-2">Endpoints</h6>
                </div>
                <div class="col-md-6 text-right">
                    <button mat-stroked-button (click)="openDialog()" class="mb-1" style="background: #fff;">
                        <mat-icon class="mr-2">add_circle</mat-icon>Add
                    </button>
                </div>
            </div>
            <div class="row custom-gutters mb-3">
                <div class="col-md-2" *ngFor="let item of endpoints">
                    <mat-card>
                        <mat-card-subtitle style="position: relative">
                            {{item.title}}
                            <mat-icon class="close-icon" (click)="deleteEndPoints(item.id)">close</mat-icon>
                        </mat-card-subtitle>
                        <mat-card-content>
                            <div class="media">   
                                <circle-progress [percent]="item.availableCountPer" [title]="item.titleCount"
                                    [radius]="100" [outerStrokeWidth]="16" [showUnits]="false" [showSubtitle]="false"
                                    [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [titleFontSize]="35"
                                    [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"
                                    [responsive]="true"></circle-progress>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12">
        <div class="ep" style="background: #f1f3fa; padding: 12px 15px 1px; border-radius: 4px;">
            <div class="row mb-1">
                <div class="col-md-6">
                    <h6 class="mt-2">Servers</h6>
                </div>
                <div class="col-md-6 text-right">
                   
                </div>
            </div>
            <div class="row custom-gutters mb-3">
                <div class="col-md-2" *ngFor="let item of endpoints">
                    <mat-card>
                        <mat-card-subtitle style="position: relative">
                            {{item.title}}
                            <mat-icon class="close-icon" (click)="deleteEndPoints(item.id)">close</mat-icon>
                        </mat-card-subtitle>
                        <mat-card-content>
                            <div class="media">   
                                <circle-progress [percent]="item.availableCountPer" [title]="item.titleCount"
                                    [radius]="100" [outerStrokeWidth]="16" [showUnits]="false" [showSubtitle]="false"
                                    [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [titleFontSize]="35"
                                    [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"
                                    [responsive]="true"></circle-progress>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- <div class="row mb-3">
    <div class="col-md-12">
        <div class="ep" style="background: #f1f3fa; padding: 12px 15px 1px; border-radius: 4px;">
            <div class="row mb-1">
                <div class="col-md-6">
                    <h6 class="mt-2">Servers</h6>
                </div>
                <div class="col-md-6 text-right">                  
                </div>
            </div>
            <div class="row custom-gutters mb-3">
                <div class="col-md-4" *ngFor="let item of endpoints;let i = index">
                    <mat-card>
                        <mat-card-subtitle style="position: relative">
                            {{item.title}}
                        </mat-card-subtitle>
                        <mat-card-content>
                            <div class="media">
                                <app-server-pie-chart [piechartData]="item" [index]="i"></app-server-pie-chart>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>

            </div>
        </div>
    </div>
</div> -->


<div class="row custom-gutters mb-3">
    <div class="col-md-12">
        <mat-card>
            <mat-card-subtitle>
                Application Security
            </mat-card-subtitle>
            <mat-card-content>
                <div class="media">
                    <div id="assetSearchContainer" style="width:90%"></div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="row custom-gutters mb-3">
    <div class="col-md-12">
        <mat-card>
            <mat-card-subtitle>
                PT Network Service
            </mat-card-subtitle>
            <mat-card-content>
                <div class="media">
                    <div id="PTNetworkContainer" style="width:90%"></div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>
<div class="row custom-gutters mb-3">
    <div class="col-md-12">
        <mat-card>
            <mat-card-subtitle>
                VA Server
            </mat-card-subtitle>
            <mat-card-content>
                <div class="media">
                    <div id="VAServerContainer" style="width:90%"></div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>